<style type="text/css">
.red {
    color: red; 
}

.green {
    color: green;
}
</style>
<div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
      <div class="service-page">
       <div class="col-sm-6">
        <h1 class="page-header">Add Room</h1>
        </div>
        
        </div>
      </div>
      <!-- /.col-lg-12 --> 
    </div>
    
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="service-tickets">
        <div class="col-sm-12">
            <div class="col-sm-2">
        <div class="addrom">
      <button style="width:100%;" class="btn defult_btn-yellow"  data-toggle="modal" data-target="#addroom">Add Room</button>
        </div></div>
             <div class="col-sm-2">
            <div class="addrom">
      <button style="width:100%;" class="btn defult_btn-yellow"  data-toggle="modal" data-target="#addroomtype">Add Room Type</button>
            </div></div>
             <div class="col-sm-2">
            <div class="addrom">
      <button style="width:100%;" class="btn defult_btn-yellow"  data-toggle="modal" data-target="#roomtype">List of Room Type</button>
            </div></div>
        </div>
        
            
        
      
		
        <div class="ticket-detils">
        
      <table id="roomtable" class="table table-striped table-bordered" cellspacing="0" width="100%">
           <thead>
          <tr>
            <th>Sr. No.</th>
            <th>Status</th>
            <th>Room Type</th>
            <th>Room Number</th>
            <th>Price</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tr ng-repeat='hotelroom in room track by $index'>
                <td ng-class="'{{hotelroom._id}}'">{{$index+1}}</td>   
                <td ng-class="'{{hotelroom._id}}'" ng-if=' hotelroom.status == "1"' style="color:red;">Booked</td>
                <td ng-class="'{{hotelroom._id}}'" ng-if=' hotelroom.status == "0"' style="color:green;">Vacant</td>
                <td ng-class="'{{hotelroom._id}}'">{{hotelroom.room_type}}</td>
                <td ng-class="'{{hotelroom._id}}'">{{hotelroom.room_number}}</td>
                <td ng-class="'{{hotelroom._id}}'">${{hotelroom.price}}</td>
                <td><span><i ng-class="'{{hotelroom._id}}'" ng-click='setActive(hotelroom)' class="fa fa-eye" aria-hidden="true" data-toggle="modal"  data-target="#roomdetails"></i></span> |       
                <span><i ng-class="'{{hotelroom._id}}'" ng-click="setActive(hotelroom)" class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="modal"  data-target="#editroom"></i></span> |
                <span><i ng-click="deleteroom(hotelroom._id)" ng-class="'{{hotelroom._id}}'" class="fa fa-times delete-icn" aria-hidden="true"></i></span></td>
          </tr>
          
          
        </table>

          
        </div><!--profile-detils ends-->

			</div><!--admin-profile ends-->
      </div>
      <!-- /.col-lg-8 --> 
      
    </div>
    <!-- /.row --> 
  </div>

<!-- Modal -->
<div id="addroom" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Room Information</h4>
      </div>
      <div class="modal-body">
      <form role="form" method="post">
  <div class="form-group">
    <label for="email">Room Type:</label>
    <select ng-model="room.room_type">
            <option value="" disabled>---Room Type---</option>
            <option ng-repeat="x in roomtypedata" value="{{x.room_type}}">{{x.room_type}}</option>
          </select>
  </div>
  <div class="form-group">
    <label for="pwd">Room  No:</label>
    <input ng-model='room.room_no' type="text" class="form-control" id="">
  </div>
  <div class="form-group">
    <label for="pwd">Price:</label>
    <input ng-model='room.price' type="number" class="form-control" id="">
  </div>      
    <div class="form-group">
    <label for="pwd">Description:</label>
    <textarea class="form-control" ng-model='room.description' id="psw" ></textarea>
  </div>     
  
          <button type="submit" ng-click="newroomdata()" class="btn defult_btn-green">Submit</button>
</form>
      </div>
      
    </div>

  </div>
</div>


<!--add Room type-->

<div id="addroomtype" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Room Type</h4>
      </div>
      <div class="modal-body">
      <form role="form" method="post" ng-submit="addroomtype()">
  <div class="form-group">
    <label for="email">Room Type:</label>
    <input ng-model='roomtype.room_type' type="text" class="form-control" id="">
  </div>
          <button type="submit" ng-click="" class="btn defult_btn-green">Submit</button>
</form>
      </div>
      
    </div>

  </div>
</div>

<!--room type-->

<div id="roomtype" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
       
        <div class="ticket-detils">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">List of Room Type</h4>
      </div>
            <div class="modal-body">
      <table id="roomtypetable" class="table table-striped table-bordered" cellspacing="0" width="100%">
           <thead>
          <tr>
            <th>Sr. No.</th>
            <th>Room Type</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tr ng-repeat='hotelroomtype in roomtype track by $index'>
                <td ng-class="'{{hotelroomtype._id}}'">{{$index+1}}</td>   
                <td ng-class="'{{hotelroomtype._id}}'">{{hotelroomtype.room_type}}</td>
                <td>
                <span><i ng-class="'{{hotelroomtype._id}}'" ng-click="setActiveroomtype(hotelroomtype)" class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="modal"  data-target="#editroomtype"></i></span> |
                <span><i ng-click="deleteroomtype(hotelroomtype._id)" ng-class="'{{hotelroomtype._id}}'" class="fa fa-times delete-icn" aria-hidden="true"></i></span></td>
          </tr>
          
          
        </table>
</div>
          
        </div>
      
    </div>

  </div>
</div>



<!--Edit room type-->

<div id="editroomtype" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit room type</h4>
      </div>
      <div class="modal-body">
      <form role="form" method="post" ng-submit="editroomtype()">
  <div class="form-group">
    <label for="email">Room Type:</label>
    <input ng-model='activeRoomtype.room_type' type="text" class="form-control" id="">
  </div>
      
          <button type="submit" ng-click="" class="btn defult_btn-green">Update Room Type</button>
</form>
      </div>
      
    </div>

  </div>
</div>







<div id="roomdetails" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Room Information</h4>
      </div>
    <table class="table table-hover">
              <tr>
                                                    <th>Fields</th>
                                                    <th>Data</th>

                                                </tr>
                                                <tr>
                                                    <td>Room Type</td>
                                                    <td>{{activeRoom.room_type}}</td>
                                                </tr>
                                               
                                                <tr>
                                                    <td>Room  No</td>
                                                    <td>{{activeRoom.room_number}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Price</td>
                                                    <td>{{activeRoom.price}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Description</td>
                                                    <td>{{activeRoom.description}}</td>
                                                </tr>
                                                
                                            </table>
      
    </div>

  </div>
</div>


<div id="editroom" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit room information</h4>
      </div>
      <div class="modal-body">
      <form role="form" method="post" ng-submit="editroomdata()">
  <div class="form-group">
    <label for="email">Room Type:</label>
    <input ng-model='activeRoom.room_type' readonly type="text" class="form-control" id="">
  </div>
  <div class="form-group">
    <label for="pwd">Room  No:</label>
    <input ng-model='activeRoom.room_number' readonly type="text" class="form-control" id="">
  </div>
  <div class="form-group">
    <label for="pwd">Price:</label>
    <input ng-model='activeRoom.price' type="text" class="form-control" id="">
  </div>
    <div class="form-group">
    <label for="pwd">Status:</label>
    
                                  <select class="form-control" ng-model='activeRoom.status'>
                                  <option selected="selected" disabled="disabled">Status</option>    
                                  <option value="1">Booked</option>
                                  <option value="0">Vacant</option>
                                </select>
                              
  </div> 
    <div class="form-group">
    <label for="pwd">Description:</label>
    <textarea class="form-control" ng-model='activeRoom.description' id="psw" ></textarea>
  </div>     
  
  
          <button type="submit" ng-click="closemodel();" class="btn defult_btn-green">Update Room</button>
</form>
      </div>
      
    </div>

  </div>
</div>