  <!---------footer-section------------>
<div class="footer_section">
	<div class="container">
    	<div class="row">
        <div class="col-sm-4">
              	<div class="fotr_lst">
                	<ul>
                    <li><a href="#" class="a_stle">Home</a></li>
                    <li><a href="#" class="a_stle">Android App</a></li>
                    <li><a href="#" class="a_stle">iPhone</a></li>
                    <li><a href="#" class="a_stle">App</a></li>
                    <li><a href="#" class="a_stle">Blog</a></li>
                     <li><a href="#" class="a_stle">FAQ</a></li>
                    </ul>
                	</div>
        	      </div>
          
              <div class="col-sm-3">
              	<div class="scial_lst">
                	<ul>
                    <li><a href="#" class="scial_stle"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="scial_stle"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="scial_stle"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                
                    </ul>
                	</div>
        	      </div>
            
            <div class="col-sm-5">
              	<div class="fotr_lst">
                	<ul>
                     <li><a href="#" class="a_stle">Term</a></li>
                    <li><a href="#" class="a_stle">About Us</a></li>
                    <li><a href="#" class="a_stle">Terms and Condition</a></li>
                    <li><a href="#" class="a_stle">Privacy Policy</a></li>
                    <li><a href="#" class="a_stle">Blog</a></li>
                     <li><a href="#" class="a_stle">@Spring TV</a></li>
                    </ul>
                	</div>
        	      </div>
            
        	</div>
    	</div>
	</div>
	
 
 
<!-----------------form-section----------------------->    
